App_WebReferences/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.96.14:4887/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/wcfcleaners" />
  <xs:import schemaLocation="http://192.168.96.14:4887/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAlmTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tablename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlmTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAlmTableResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeneralTable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeneralTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGeneralTableResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcfcleaners" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcfcleaners" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperatorName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperatorNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOperatorNameResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgressiveNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="evDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="cShift" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mac" type="xs:int" />
        <xs:element minOccurs="0" name="operatorx" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tablename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgressiveNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProgressiveNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="evDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="cShift" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="operatorName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="cEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="machine" type="xs:int" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="note" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateLoad" type="xs:dateTime" />
        <xs:element minOccurs="0" name="progNum" type="xs:int" />
        <xs:element minOccurs="0" name="tempoMin" type="xs:int" />
        <xs:element minOccurs="0" name="ptPrec" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewOperationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endclean" type="xs:dateTime" />
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperation1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endclean" type="xs:dateTime" />
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="note" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperation1Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperation2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endclean" type="xs:dateTime" />
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperation2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperation3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="endclean" type="xs:dateTime" />
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="note" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeStamp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperation3Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperationManually">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="note" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperationManuallyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJobIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeStampInMM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeStampInMMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTimeStampInMMResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShift">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShiftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetShiftResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasError">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HasErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasErrorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateAlarmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateAlarmNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="note" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateAlarmNoteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="tablename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeactivateAlarmResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MachineTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oper_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="evDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="shift" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MachineTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MachineTableResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadMachineInformations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mac" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadMachineInformationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadMachineInformationsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQualityRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="macc" type="xs:int" />
        <xs:element minOccurs="0" name="comm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="art" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="col" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cotta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prog" type="xs:int" />
        <xs:element minOccurs="0" name="noteA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lung" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elastic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="alt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sx" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="infil" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cottaFil" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startEv" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endEv" type="xs:dateTime" />
        <xs:element minOccurs="0" name="operatId" type="xs:int" />
        <xs:element minOccurs="0" name="shift" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="esi" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertQualityRecordResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmailInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmailInfoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>