Connected Services/SinoticoREST/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyTestWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyTestWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAlarms">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alarms" nillable="true" type="tns:Alarms" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarms" nillable="true" type="tns:ArrayOfAlarms" />
  <xs:complexType name="Alarms">
    <xs:sequence>
      <xs:element minOccurs="0" name="End" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Machine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shift" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Start" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alarms" nillable="true" type="tns:Alarms" />
</xs:schema>